.date {
    overflow: hidden;
    margin-top: 100px;
    margin-bottom: 50px;
    h2 {
        text-align: center;
        font-size: 65px;
        line-height: 1.2;
    }
    
    p {
        margin-bottom: 15px;
        text-align: center;
        font-size: 18px;
    }
    
    .date__info {
        h3 {
            margin-bottom: 5px;
            font-size: 20px;
        }
        
        h4 {
            margin-bottom: 12px;
            font-style: italic;
            background: linear-gradient(90deg, #f92672, #66d9ef, #a6e22e, #fd971f);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 16px;
            line-height: 1.5;
        }
    }

    @media (max-width: 1200px) {
        h2 {
            font-size: 55px;
        }

        p {
            font-size: 17px;
        }

        .date__info h4 {
            font-size: 15px;
        }

        .date__info h3 {
            font-size: 18px;
        }
    }

    @media (max-width: 992px) {
        h2 {
            font-size: 50px;
        }

        p {
            font-size: 16px;
        }

        .date__info h4 {
            font-size: 14px;
        }

        .date__info h3 {
            font-size: 17px;
        }
    }

    @media (max-width: 768px) {
        h2 {
            font-size: 45px;
        }

        p {
            font-size: 15px;
        }

        .date__info {
            padding: 0 10px;
        }

        .date__info h4 {
            font-size: 13px;
        }

        .date__info h3 {
            font-size: 16px;
        }
    }

    @media (max-width: 576px) {
        h2 {
            font-size: 40px;
        }

        p {
            font-size: 14px;
        }

        .date__info h4 {
            font-size: 12px;
        }

        .date__info h3 {
            font-size: 14px;
        }
    }
}
