.hero {
    margin-top: 100px;
    overflow: hidden;
    position: relative;
    animation: fadeInUp 1.5s ease-out;
}

.hero__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    opacity: 0;
    animation: slideUp 1.5s ease-out 0.5s forwards;
}

.hero__text {
    h2 {
        font-size: 80px;
        opacity: 0;
        transform: translateY(20px);
        animation: fadeInText 1.5s ease-out 1s forwards;
    }
}

.hero__image {
    img {
        opacity: 0;
        transform: translateY(20px);
        animation: fadeInImage 1.5s ease-out 1.5s forwards;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInText {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInImage {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 990px) {
    .hero__text h2 {
        font-size: 60px;
    }
    .hero__image img {
        width: 350px;
        height: 350px;
    }
}
@media (max-width: 887px) {
    .hero__text h2 {
        font-size: 60px;
    }
    .hero__image img {
        width: 300px;
        height: 300px;
    }
}
@media (max-width: 772px) {
    .hero__text h2 {
        font-size: 50px;
    }
    .hero__image img {
        width: 200px;
        height: 200px;
    }
}
@media (max-width: 638px) {
    .hero__text h2 {
        font-size: 40px;
    }
    .hero__image img {
        width: 150px;
        height: 150px;
    }
    .hero__wrapper {
        flex-direction: column;
        align-items: center;
    }
}
